@inherits LayoutComponentBase

<NavMenu ToggleNarrow=ToggleMenuNarrow
         CollapseNarrow=CollapseMenuNarrow
         ToggleWide=ToggleMenuWide
         WideCollapsed=MenuWideCollapsed
         NarrowCollapsed=MenuNarrowCollapsed />

<div class=@MainCssClass style="z-index: 0">
    <div class="content px-4">
        <div class="card">
            <div class="card-body">
                @Body
            </div>
        </div>
    </div>
</div>

@code {
    bool MenuWideCollapsed { get; set; } = false;
    bool MenuNarrowCollapsed { get; set; } = true;

    private string MainCssClass => MenuWideCollapsed ? "main main-collapsed" : "main";

    [Inject] public NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += (sender, e) =>
        {
            if (!MenuNarrowCollapsed)
            {
                MenuNarrowCollapsed = true;
                this.StateHasChanged();
            }
        };
    }

    void CollapseMenuNarrow(object sender, ChangeEventArgs args)
    {
        MenuNarrowCollapsed = true;
        this.StateHasChanged();
    }

    void ToggleMenuWide(object sender, ChangeEventArgs args)
    {
        MenuWideCollapsed = !MenuWideCollapsed;
        this.StateHasChanged();
    }

    void ToggleMenuNarrow(object sender, ChangeEventArgs args)
    {
        MenuNarrowCollapsed = !MenuNarrowCollapsed;
        this.StateHasChanged();
    }
}