<div class="navbar navbar-dark bg-primary">
    <button class="navbar-toggler navbar-toggler-wide" @onclick="ToggleNavMenuWide">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler navbar-toggler-narrow" @onclick="ToggleNavMenuNarrow">
        <span class="navbar-toggler-icon"></span>
    </button>
    @*<div class="input-group" style="width: 20em; margin-right: 1em; max-width: 60%">
        <input class="form-control" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-light" type="button"><i class="oi oi-magnifying-glass"></i> </button>
        </div>
    </div>*@
</div>

<div class=@NavOverlayCssClass @onclick="CollapseNavMenuNarrow" />

<div class=@NavMenuCssClass>
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="nav flex-column">
                <PageLink Icon="oi oi-home" Label="Strona główna" Page="/" />

                <PageLink Icon="oi oi-bullhorn" Label="Obostrzenia" Page="/obostrzenia" />

                <PageLink Icon="oi oi-medical-cross" Label="Znajdź pomoc w Twojej okolicy" Page="/hospitals" />

                <PageLink Icon="oi oi-question-mark" Label="Pytania i odpowiedzi" Page="/QaA" />

                <PageLink Icon="oi oi-briefcase" Label="Podróże za granicę" Page="/travel" />

                <PageLink Icon="oi oi-graph" Label="Statystyki">
                    <PageLink Label="Testy w Polsce" Page="/statistics/tests-pl" />
                </PageLink>

                <PageLink Icon="oi oi-comment-square" Label="Twitter" Page="/Twitter" />
            </ul>
        </nav>
    </div>
</div>


@code {
    [Parameter]
    public bool NarrowCollapsed { get; set; }

    [Parameter]
    public bool WideCollapsed { get; set; }

    [Parameter]
    public EventHandler<ChangeEventArgs> ToggleNarrow { get; set; }

    [Parameter]
    public EventHandler<ChangeEventArgs> ToggleWide { get; set; }

    [Parameter]
    public EventHandler<ChangeEventArgs> CollapseNarrow { get; set; }

    string NavMenuCssClass
    {
        get
        {
            string baseClass = "navmenu";

            if (NarrowCollapsed)
            {
                baseClass += " navmenu-narrow-collapsed";
            }

            if (WideCollapsed)
            {
                baseClass += " navmenu-wide-collapsed";
            }

            return baseClass;
        }
    }

    string NavOverlayCssClass
    {
        get
        {
            string baseClass = "nav-overlay";

            if (NarrowCollapsed)
            {
                baseClass += " nav-overlay-collapsed";
            }

            return baseClass;
        }
    }

    void CollapseNavMenuNarrow()
    {
        CollapseNarrow?.Invoke(this, null);
    }

    void ToggleNavMenuNarrow() => ToggleNarrow?.Invoke(this, null);

    void ToggleNavMenuWide() => ToggleWide?.Invoke(this, null);
}