@using CovidApp.Shared 

<div class="navbar navbar-dark bg-primary">
    <button class="navbar-toggler navbar-toggler-wide" @onclick="ToggleNavMenuWide">
        <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler navbar-toggler-narrow" @onclick="ToggleNavMenuNarrow">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="input-group" style="width: 20em; margin-right: 1em; max-width: 60%">
        <input class="form-control" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn-light" type="button"><i class="oi oi-magnifying-glass"></i> </button>
        </div>
    </div>
</div>

<div class=@NavOverlayCssClass @onclick="CollapseNavMenuNarrow" />

<div class=@NavMenuCssClass>
    <div class="wrapper">
        <nav id="sidebar">
            <ul class="nav flex-column">
                <PageLink label="Strona główna" icon="oi oi-home" page="/" />

                <PageLink label="Statystyki" icon="oi oi-graph" page="/statistics" />

                <PageLink label="Diagnostyka" icon="oi oi-data-transfer-download" page="/fetchdata" />

                <PageLink label="Informacje" icon="oi oi-wrench">

                    <PageLink Label="STH 1" Page="/page1" icon="oi oi-envelope-closed" />

                    <PageLink Label="STH 2" Page="/page2" icon="oi oi-flash" />

                </PageLink>
            </ul>
        </nav>
    </div>
</div>


@code {
    [Parameter]
    public bool NarrowCollapsed { get; set; }

    [Parameter]
    public bool WideCollapsed { get; set; }

    [Parameter]
    public EventHandler<ChangeEventArgs> ToggleNarrow { get; set; }

    [Parameter]
    public EventHandler<ChangeEventArgs> ToggleWide { get; set; }

    [Parameter]
    public EventHandler<ChangeEventArgs> CollapseNarrow { get; set; }

    string NavMenuCssClass
    {
        get
        {
            string baseClass = "navmenu";

            if (NarrowCollapsed)
            {
                baseClass += " navmenu-narrow-collapsed";
            }

            if (WideCollapsed)
            {
                baseClass += " navmenu-wide-collapsed";
            }

            return baseClass;
        }
    }

    string NavOverlayCssClass
    {
        get
        {
            string baseClass = "nav-overlay";

            if (NarrowCollapsed)
            {
                baseClass += " nav-overlay-collapsed";
            }

            return baseClass;
        }
    }

    void CollapseNavMenuNarrow()
    {
        CollapseNarrow?.Invoke(this, null);
    }

    void ToggleNavMenuNarrow() => ToggleNarrow?.Invoke(this, null);

    void ToggleNavMenuWide() => ToggleWide?.Invoke(this, null);
}