@using ChartJs.Blazor.BarChart

@page "/"

<div class="alert alert-warning" role="alert">
    <h3 class="alert-heading">Statystyki Covid w Polsce (@date.Date)</h3>

    <div style="width:100%; display: inline-block; text-align: center;">
        <p> Zakażonych: @total</p>
        <p> Na 10 tysięcy: @cases10k</p>
        <p> Śmierci: @deaths</p>
    </div>
    
    <hr>
    <p class="mb-0">Informacje dostarczane przez ministerstwo zdrowia.</p>
</div>

<div class="index-maindiv">
    <div class="index-charts">


        
    </div>
</div>
<div class="clearfix"></div>


@*<button class="btn btn-primary" @onclick="ChangeValues">Click me</button>*@

@code {

    List<CovidStatsDownloader.PolandStats> polandStats = new List<CovidStatsDownloader.PolandStats>();

    DateTime date;
    string deaths, total, cases10k;

    Random random = new Random();


    private async Task FetchData()
    {
        polandStats = await CovidStatsDownloader.Program.GetPolandStatsAsync();

        date = polandStats.Last().FileDate;

        deaths = (polandStats.Last().FileStatsList.First().Deaths == null) ? "brak danych" : "" + polandStats.Last().FileStatsList.First().Deaths;
        total = (polandStats.Last().FileStatsList.First().TotalCases == null) ? "brak danych" : "" + polandStats.Last().FileStatsList.First().TotalCases;
        cases10k = (polandStats.Last().FileStatsList.First().Cases10k == null) ? "brak danych" : "" + polandStats.Last().FileStatsList.First().Cases10k;
    }

    protected override async void OnInitialized()
    {

        await FetchData();



        await Task.Delay(100);
        this.StateHasChanged();
    }

}