@page "/QaA"

<h2>Częste pytania i odpowiedzi</h2>
<br/>
@message

@foreach(var topic in topics)
{
    @topic.name 
    <br/>
}

@code {
    private string message = "...";
    private List<QandA.Topic> topics = new List<QandA.Topic>();

    override protected async void OnInitialized()
    {
        topics = await QandA.Program.Scrap();
        message = "";
        this.StateHasChanged();
    }
} 