@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app
{
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row
{
    height: 3.5rem;
    display: flex;
    align-items: center;
}



.nav-overlay
{
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(0,0,0,0.4);
    display: none;
    position: fixed;
}




.navmenu .top-row
{
    background-color: rgba(0,0,0,0.4);
}

.navmenu .navbar-brand
{
    font-size: 1.1rem;
}

.navmenu .oi
{
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.main
{
    flex: 1;
    margin-left: 300px;
    padding: 1px 16px;
    margin-top: 50px;
    transition: all 0.3s ease;
}

.main-collapsed
{
    margin-left: 0px;
}

.nav-item
{
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type
    {
        padding-top: 1rem;
    }

    .nav-item:last-of-type
    {
        padding-bottom: 1rem;
    }

    .nav-item a
    {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active
        {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover
        {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content
{
    padding-top: 1.1rem;
    overflow: hidden;
}



.valid.modified:not([type=checkbox])
{
    outline: 1px solid #26b050;
}

.invalid
{
    outline: 1px solid red;
}

.validation-message
{
    color: red;
}

@media (max-width: 767.98px)
{
    .main
    {
        margin-left: 0px;
    }

    .navmenu
    {
        margin-top: 0px;
        display: initial;
        margin-left: 0px;
    }

    .nav-overlay
    {
        display: initial;
    }

    .nav-overlay-collapsed
    {
        display: none;
    }


    .navmenu-narrow-collapsed
    {
        margin-left: -300px;
    }

    .navbar .navbar-toggler-wide
    {
        display: none;
    }

    .navbar .navbar-toggler-narrow
    {
        display: initial;
    }

    .content
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}





table .column-order
{
    position: relative;
    width: 100%;
    display: inline-block;
    padding-right: 2em;
    user-select: none;
}

    table .column-order::before, table .column-order:after
    {
        right: 1em;
        font-family: 'Icons';
        font-weight: 900;
        font-size: 0.8rem;
        position: absolute;
        bottom: .9em;
        display: block;
        opacity: .3;
        box-sizing: border-box;
    }

    table .column-order::before
    {
        content: "\e037";
        bottom: .75em;
    }

    table .column-order::after
    {
        content: "\e034";
        bottom: -0.25em;
    }

table .column-order-desc::after
{
    opacity: 1;
}

table .column-order-asc::before
{
    opacity: 1;
}

table .header
{
    cursor: pointer;
}

table
{
    overflow: auto;
}
