@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.row {
    max-width: 1200px;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.col {

    color: white;
   
}


